.messageBox {
   border-radius: 10px;
   background-color: #182533;
   border: 3px solid #566169;
   color: #fff;
   padding: 10px;
   width: 35%;
   margin: auto 0 10px 0;
   font-size: 14px;
   line-height: 1.5;
   word-break: break-all;
}

.subBox {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   text-align: center;
   margin-top: 10px;
}

.btnDel {
   border: 2px solid #566b7c;
   color:rgba(255, 255, 255, 0.822);
   background-color: #45535d;
   border-radius: 16px;
   margin-bottom: 10px;
}

.userMessage {
   margin: 0 0 10px auto;
   background-color: #465d73;
   border: 3px solid #373b3f;
}

.messageBox p:last-child {
   color: #435564;
   text-align: right;
}

.userMessage p:last-child {
   color:#8192a4;
   text-align: right;
}