

.boxInfoChat {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.boxIcon {
   max-width: 70px;
}

.icon {
   color: #fff;
}

.text {
   color: #fff;
   margin-right: 50px;
   text-decoration: none;
}
.textMessage {
   color: #ffffffbf;
   text-decoration: none;
}

.boxMess {
   border: 1px solid #bebebec6;
   border-radius: 16px;
   padding: 10px;
   background-color: #33404db7;

}

.btnChat {
   border: 1px solid #566b7c;
   color:#ffffffd2;
   background-color: #45535d;
   border-radius: 16px;
   padding: 4px 0px;
}