.form-box {
   margin-top: 15px;
   display: flex;
   justify-content: center;
}
.btn-form {
   padding: 5px 15px;
   color: #fff;
   font-size: 14px;
   background-color: #4b2d05;
   
   border-radius: 20px;
   cursor: pointer;
}
.input-form {
   margin-right: 15px;
   padding: 8 20px;
   border: 2px solid #015a5a;
}
.form-messages {
   display: flex;
   justify-content: space-around;
}